services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:v2.4.2
    container_name: mealie
    restart: always
    ports:
      - "{{ mealie_port }}:9000"
    deploy:
      resources:
        limits:
          memory: 1000M
    volumes:
      - mealie-data:/app/data/
    environment:
      # Set Backend ENV Variables Here
      SECURITY_MAX_LOGIN_ATTEMPTS: 10
      PUID: 1001
      PGID: 1001
      TZ: America/New_York
      BASE_URL: https://mealie.{{ local_domain }}
      # AI integrations
      OPENAI_BASE_URL: "http://{{ ollama_base_url }}:11434/v1"
      OPENAI_API_KEY: "ignored"
      OPENAI_ENABLE_IMAGE_SERVICES: false
      OEPNAI_MODEL: "gemma2:latest"
      OPENAI_WORKERS: 1 # Ollama can't do concurrency anyways
      OPENAI_SEND_DATABASE_DATA: false
volumes:
  mealie-data: